body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cs15.pikabu.ru/post_img/2024/10/16/10/og_og_1729099025243021268.jpg");
    background-repeat: no-repeat;
    background-size: cover auto;
}
*{
    margin: 0 auto;
    padding: 0 auto;
}

.LoadingImg{
    margin-top: 250px;
    margin-left: 250px;
    width: 400px;
    animation: rotation 3s infinite;
}

@keyframes rotation {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
.Text1{
    text-shadow:2px 2px #000000;
    border: 15px transparent ;
    display: block;
    float: left;
    width: 950px;
    height: 1400px;
    margin-top: 100px ;
    text-align:left ;
    color: rgb(255, 255, 255);
    font-size: 40px ;
    opacity: 50%;

@keyframes pageFadeIn {
    from{
        opacity: 0%;
    }
    to{
         
    }
}