body{
    background-image: url("https://staticg.sportskeeda.com/editor/2024/10/011da-17282527742704-1920.jpg");

}

.LoadingImg{
    margin-top: 250px;
    margin-left: 250px;
    width: 400px;
    animation: rotation 3s infinite;
}

@keyframes rotation {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}